.button {
  display: block;
  color: var(--color-black-button);
  background-color: var(--color-golden-light);
  text-decoration: none;
  border: none;
  border-radius: 24px;
  text-align: center;
  font-size: rem(16);
  font-weight: 700;
  padding: 0.75em 0;
  width: 108px;
  transition: background-color 0.3s, color 0.3s;

  @media screen and (min-width: $bp-tablet) {
    width: 134px;
  }

  &:hover {
    color: white;
    background-color: var(--color-golden-dark);
  }

  &:disabled {
    background-color: var(--color-gray);
    color: var(--color-text);
    cursor: not-allowed;
  }
}
