.product-card {
  text-align: center;
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  container-type: inline-size;

  &__picture {
    width: 100%;
    height: auto;
    // max-height: 222px;
    object-fit: cover;
    object-position: center;
  }

  &__button {
    font-size: 16px;
    margin: -24px auto 0;
    width: 134px;

    @container (max-width: 228px) {
      font-size: 12px;
      width: 108px;
    }
  }
}

.product-info {
  background-color: white;
  border: 1px solid var(--color-golden-light);
  height: max-content;
  border-top: none;
  padding: 14px 20px 42px;
  z-index: -1;
  font-size: initial;

  @container (max-width: 228px) {
    padding: 12px 12px 32px;
  }

  &__name {
    color: var(--color-brand-coffee);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;

    @container (max-width: 228px) {
      font-size: 18px;
    }
  }

  &__composition {
    color: var(--color-black-button);
    font-size: 16px;
    margin-bottom: 5px;

    @container (max-width: 228px) {
      font-size: 12px;
    }
  }

  &__price {
    color: var(--color-brand-coffee);
    font-size: 18px;
    font-weight: 700;

    @container (max-width: 228px) {
      font-size: 14px;
    }
  }
}
