@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-weight: 400;
  src: url("../fonts/playfair-display-v37-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-weight: 500;
  src: url("../fonts/playfair-display-v37-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-weight: 600;
  src: url("../fonts/playfair-display-v37-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-weight: 700;
  src: url("../fonts/playfair-display-v37-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Clicker Script";
  font-weight: 400;
  src: url("../fonts/clicker-script-v13-latin-regular.woff2") format("woff2");
}
