html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  hanging-punctuation: first last;
}

body {
  color: var(--color-text);
  font-family: "Playfair Display", serif;
  font-size: rem(20);
  line-height: 1.35;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  // max-width: 80ch;
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
