.advantages-section {
  position: relative;

  &__title {
    text-align: center;
  }

  &__text {
    margin-bottom: 1.6em;
    text-align: center;
  }

  .advantages-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
  }

  &__text_after-advantages {
    margin-block: 1.6em 1.2em;
    text-align: center;

    &_accent {
      color: var(--color-brand-coffee);
      font-size: rem(30);
      font-weight: 700;
    }
  }

  &__button {
    margin: 0 auto;
  }
}
