.discover-section {
  position: relative;
  text-align: center;

  @media screen and (min-width: $bp-desktop) {
    text-align: left;
  }

  &__flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__title {
    margin-bottom: 12px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 24px;
    }
  }

  &__text {
    margin-bottom: 28px;
  }

  &__image {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      width: min(50vw, 520px);
      height: auto;
    }
  }

  &__button {
    margin: 0 auto;

    @media screen and (min-width: $bp-desktop) {
      margin: 0;
    }
  }
}
