.footer {
  background-image: url("../../images/footer-background-image.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: var(--footer-background-color);
  padding-top: 160px;
  padding-bottom: 72px;
  position: relative;

  &__container {
    display: grid;
    // grid-template-columns: 36% 15% 15.5% 28%;
    grid-template-columns: 12fr 5fr 5fr 9fr;
    gap: 20px;
  }

  &__info {
    max-width: 380px;
    width: 100%;
  }

  &__logo {
    fill: white;
    margin-bottom: 20px;
  }

  &__description-text {
    font-size: rem(14);
    line-height: 1.6;
    margin-block: 20px 36px;
  }

  &__column-title {
    font-size: rem(25);
    font-weight: 700;
    margin-bottom: 54px;
  }

  &__column-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 17px;
    height: 182px;
  }

  &__link {
    color: white;
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-size: rem(18);
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      color: var(--color-golden-light);
    }
  }

  &__social-media-flexbox {
    display: flex;
    gap: 20px;
  }
}
