.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;

  @media screen and (min-width: $bp-desktop) {
    padding: 20px 0;
  }

  &__container {
    display: grid;
    grid-template-columns: 116px 1fr 116px;
    align-items: center;

    @media screen and (min-width: $bp-mobile) {
      grid-template-columns: 200px 1fr 200px;
    }
  }

  &__logo-link {
    justify-self: start;
  }

  &__logo {
    fill: white;
    width: 116px;
    height: auto;

    @media screen and (min-width: $bp-desktop) {
      width: 132px;
    }
  }

  &__nav-flexbox {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      justify-self: center;
      max-width: min(412px, 40vw);
      width: 100%;
      align-items: center;
    }
  }

  &__link {
    color: white;
    border: none;
    background-color: transparent;
    font-size: rem(14);
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;

    @media screen and (min-width: $bp-desktop) {
      font-size: rem(16);
    }

    &_underline {
      text-decoration: underline;
    }

    &:hover {
      color: var(--color-golden-light);
    }
  }

  &__buttons-flexbox {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      align-items: center;
      gap: 16px;
      justify-self: end;
    }

    @media screen and (min-width: $bp-desktop) {
      gap: 28px;
    }
  }

  &__button {
    font-size: rem(14);
    font-weight: 500;
    width: 88px;

    @media screen and (min-width: $bp-desktop) {
      font-size: rem(16);
      width: 100px;
    }
  }

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    background-color: transparent;
    border: none;
    width: 28px;
    height: 28px;
    z-index: 10;

    @media (min-width: $bp-tablet) {
      display: none;
    }
  }

  &__burger-icon {
    fill: white;
    width: 100%;
    height: 100%;
    transition: fill 0.3s;

    &:hover {
      fill: var(--color-golden-light);
    }
  }
}
