.products-section {
  &__title {
    text-align: center;
  }

  &__text {
    margin-bottom: 1.6em;
    text-align: center;
  }
}

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}
