.subscribe-section {
  padding: 0;

  &_background {
    background-image: url("../images/coffee-cup-background-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 44px 0;

    @media screen and (min-width: $bp-tablet) {
      padding: 80px 0;
    }
  }

  &__title {
    text-align: center;
  }

  &__text {
    margin-bottom: 1.3em;
    text-align: center;
  }
}

.subscribe-form {
  display: block;
  position: relative;

  @media screen and (min-width: $bp-mobile) {
    display: flex;
    justify-content: center;
  }

  &__input {
    color: var(--color-black-button);
    line-height: 1.7;
    background-color: white;
    padding: 16px 26px;
    max-width: 500px;
    width: 100%;
    border: 1px solid var(--color-golden-light);
    border-radius: 4px;
    margin-bottom: 20px;

    @media screen and (min-width: $bp-mobile) {
      border-right: none;
      border-radius: 4px 0 0 4px;
      margin: 0;
    }

    &::placeholder {
      color: var(--color-brand-coffee);
      opacity: 34%;
      font: inherit;
    }

    &:focus {
      background-color: var(--color-golden-ultra-light);
      outline: none;
    }

    &:disabled {
      background-color: #e7e7e7;
      border: 1px solid var(--color-gray);
      border-right: none;

      &::placeholder {
        color: var(--color-gray);
      }
    }
  }

  &__button {
    font-size: rem(22);
    border-radius: 4px;
    width: 140px;
    padding: 0.8em;
    margin: 0 auto;

    @media screen and (min-width: $bp-mobile) {
      border-radius: 0 4px 4px 0;
      margin: 0;
    }
  }
}
