:root {
  --color-golden-light: #f9c06a;
  --color-golden-dark: #d18c3d;
  --color-black-button: #1e1e1e;
  --color-brand-coffee: #603809;
  --color-golden-ultra-light: #fff9f1;
  --color-text: #707070;
  --footer-background-color: #442808;
  --color-gray: #b8b8b8;
}

$bp-mobile: 481px;
$bp-tablet: 769px;
$bp-desktop: 1025px;
